# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/out
/cmake_build*
/_doc
/build

.vs
.*.sw?
CMakeUserPresets.json
CMakeLists.txt
/args_parse/CMakeLists.txt
/demo/CMakeLists.txt
/test/CMakeLists.txt

